.outer-div{
  background-color:rgb(120, 110, 181);
  height: 100vh;
}
.center-div{
  background-color:rgb(237, 204, 165);
  padding-bottom: 8%;
  width: 30%;
 margin-left: 35%;
 border-radius: 30px;
}



.App-header{
    min-height: 10vh;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: larger;
  }

  .todolabel{
    font-size: 25px;
  }
  .input{
    width: 40%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: black;
    color: white;
  }
  .button{
    background-color:rebeccapurple;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
  }