.outer-div{
  background-color:springgreen;

}




.App-header{
    min-height: 10vh;
    
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: center;
    font-size: larger;
  }

  .todolabel{
    font-size: 30px;
  }
  .input{
    width: 50%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  .button{
    background-color:rebeccapurple;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .internal-div{
    padding: 15px 25px;
  }